name: CI/CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  # Job 1: The CI Part (Testing)
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Unit Tests
      run: pytest

  # Job 2: The CD Part (Building & Delivering)
  build-image:
    needs: test  # <--- CRITICAL: Only run if 'test' passes!
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # Change 'your-username' below to your actual Docker Hub username!
          tags: ${{ secrets.DOCKER_USERNAME }}/mlops-cicd:latest
